@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.04%;
    --foreground: 46 66% 4%;

    --primary: 46 91% 49%;
    --primary-foreground: 46 91% 9%;

    --secondary: 46 17% 90%;
    --secondary-foreground: 46 17% 30%;

    --muted: 46 10% 93%;
    --muted-foreground: 46 15% 31%;

    --popover: 0 0% 99%;
    --popover-foreground: 46 66% 3%;

    --card: 0 0% 100%;
    --card-foreground: 46 66% 3%;

    --accent: 46 73.35% 87.01%;
    --accent-foreground: 46 27% 23%;

    --destructive: 4.53 78.82% 49.47%;
    --destructive-foreground: 19 0% 100%;

    --ring: 46 91% 49%;
    --border: 46 11% 95%;
    --input: 46 11% 95%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 233 18% 19%;
    --foreground: 173 24% 93%;

    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;

    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;

    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;

    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;

    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;

    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;

    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;

    --ring: 44 100% 71%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
